@model IEnumerable<WebApplication.Models.RoomModel>

@{
    ViewBag.Title = "Rooms";
}

<h2>Currently available rooms</h2>


@using (Html.BeginForm("Rooms","Rooms", FormMethod.Get))
{
    <p>
        <h4>Find by price:</h4> @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-warning" />
    </p>
}
<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        
        
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isAvailable)
    </td>

    <td>
        @Html.ActionLink("Details", "Room", new { id = item.Id }) |
        @Html.ActionLink("Book", "Create", "Booking", new { id = item.Id }, null)
    </td>
    <td>
        <img src="~/Pictures/room.jpg" />
    </td>
</tr>
    }

</table>
