@model IEnumerable<WebApplication.Models.RoomModel>


@{
    ViewBag.Title = "Rooms";



}




<h2>Currently available rooms</h2>
<div class="jumbotron">
    @using (Html.BeginForm("Rooms", "Rooms", FormMethod.Get))
    {
        <p>Use the keywords to search for the room</p>
        <p>furnished, terrace, bathroom </p>
        
        @Html.TextBox("SearchDescription")
        <input type="submit" class="btn btn-warning" />
    }
</div>

@Html.ActionLink("Show all rooms", "Rooms")

<table class="table table-bordered">
    <tr>
        <th>
            Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Pictures/room.jpg" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>



            <td>
                @Html.ActionLink("Details", "Room", new { id = item.Id }) |
                @Html.ActionLink("Book", "Create", "Booking", new { id = item.Id }, null)
            </td>

        </tr>
    }

</table>





